[Unit]
Description=Change the background with the user provided script

[Service]
Type=oneshot
Environment=DISPLAY:0
Nice=10
ExecStart=/bin/bash /home/tyler/.local/bin/change_background.sh

[Install]
WantedBy=graphical.target
