# Lock screen
exec xss-lock -- ~/.local/bin/pixelated_lockscreen.sh &
# Background
exec ~/.fehbg &
# Color Scheme
exec wal -R &
# Window editor (for transparency)
exec xcompmgr -c &
# Program for applying special rules for what is and isn't transparent
exec devilspie -a &
# Notifications
exec dunst &
# The actual window manager
exec i3
